.about{
	@include flex-between;
	margin: 200px 0;
	&__picture{
		flex: 0 0 525px;
		height: 500px;
		position: relative;
		border: 30px solid #7C6AFA;
		border-image: $bg-grad2;
		border-image-slice: 1;
		img{
			position: absolute;
			top: 125px;
			left: 40px;
			right: 40px;
		}
	}
	&__description{
		flex: 0 1 630px;
		margin: 70px 0 0 40px;
	}
	&__title{
		@include title;
		margin-bottom: 45px;
	}
	&__text{
		@include text;
	}
}
.start{
	&__title-box{
		max-width: 495px;
		@include flex-between;
		align-items: flex-end;
	}
	&__title{
		@include title;
		margin-left: 20px;
	}
	&__text{
		@include text;
		max-width: 410px;
		opacity: 0.5;
		margin: 50px 0 80px 0;
	}
	&__infographic{
		display: flex;
	}
	&__item{
		flex: 1 1 324px;
		height: 274px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	&__line{
		width: 100%;
		background: $bg-grad2;
	}
	&__item:nth-child(1){
		.start__line{
			height: 80px;
		}
	}
	&__item:nth-child(2){
		.start__line{
			height: 60px;
			transform: rotate(180deg);
		}
	}
	&__item:nth-child(3){
		.start__line{
			height: 30px;
		}
	}
	&__item:nth-child(4){
		.start__line{
			height: 10px;
			transform: rotate(180deg);
		}
	}
	&__percent{
		font-family: $primery-font;
		font-weight: 700;
		font-size: 36px;
		line-height: 140%;
		color: $primery-text-color;
	}
	&__description{
		max-width: 305px;
		@include small-text;
	}
}
.advantages{
	margin: 200px 0 230px 0;
	&__title{
		@include title;
		text-align: center;
	}
	&__items{
		@include flex-between;
		margin-top: 120px;
	}
	&__item{
		text-align: center;
		flex: 0 1 358px;
	}
	&__heading{
		@include heading;
		margin: 60px auto 30px;
	}
	&__text{
		@include text;
		opacity: 0.8;
	}
}
.partners{
	&__title-box{
		max-width: 830px;
		@include flex-between;
		align-items: flex-end;
		margin-bottom: 60px;
		svg{
			transform: rotate(180deg);
		}
	}
	&__title{
		@include title;
		margin-left: 20px;
	}
	&__logos{
		display: flex;
		flex-wrap: wrap;
	}
	&__item{
		flex: 0 1 24.5%;
		height: 150px;
		@include flex-center;
		border-right: 1px solid $bg-white;
		cursor: pointer;
		position: relative;
		transition: all 0.7s ease 0s; 
		&:hover{
			.partners__description{
				opacity: 1;
				transform: translateY(0) rotateX(0);
				transition: all 0.7s ease 0s; 
			}
			.partners__picture{
				opacity: 0;
				transform: translateY(50%) rotateX(90deg);
				transition: all 0.7s ease 0s; 
			}
		}
	}
	&__picture{
		opacity: 1;
		transform: translateY(0) rotateX(0);
		transition: all 0.7s ease 0s; 
	}
	&__item:nth-child(4),
	&__item:nth-child(8){
		border-right: 1px solid transparent;
	}
	&__item:nth-child(-n+4){
		border-bottom: 1px solid $bg-white;
	}
	&__description{
		@include small-text;
		width: 250px;
		height: 93px;
		position: absolute;
		top: 0px;
		left: 0;
		right: 0;
		bottom: 0;
		margin: auto; 
		text-align: center;
		opacity: 0; 
		transform: translateY(-50%) rotateX(90deg);
		transition: all 0.6s ease 0s;
		a{
			color: $primery-text-color;
			text-decoration: underline;
		}
	}
}
.program{
	margin: 240px auto 215px;
	&__title-box{
		text-align: center;
		svg{
			transform: rotate(135deg);
		}
	}
	&__title{
		@include title;
		margin: 75px auto 30px;
	}
	&__text{
		@include text;
		max-width: 410px;
		margin: 0 auto;
		opacity: 0.5;
	}
	&__weeks{
		max-width: 600px;
		margin: 80px auto 0;
		position: relative;
		@include flex-between ;
	}
	&__weeks-box:nth-child(1){
		text-align: right;
		border-right: 6px solid  #7C6AFA;
		border-image: $bg-grad2;
		border-image-slice: 1;
		padding-right: 75px;
		.program__week{
			&:last-child{
				margin-bottom: 10px;
			}
			&:after{
				right: -75px;
				left: auto;
			}
		}	
	}
	&__weeks-box:nth-child(2){
		margin-top: 85px;
		.program__week:last-child{
			margin-bottom: 0;
		}
	}
	&__week{
		max-width: 228px;
		position: relative;
		margin: 10px 0 95px 0; 
		&:after{
			content: "";
			position: absolute;
			width: 40px;
			height: 1px;
			background: $bg-white;
			opacity: 0.3;
			top: 45px;
    		left: -75px;
		}
	}
	&__number{
		@include small-text;
		margin-bottom: 15px;
	}
	&__description{
		font-family: $primery-font;
		font-size: 18px;
		line-height: 160%;
		color: $primery-text-color;
	}
}
.teachers{
	&__title-box{
		max-width: 630px;
		@include flex-between;
		align-items: flex-end;
		svg{
			transform: rotate(-45deg);
		}
	}
	&__title{
		@include title;
		margin-left: 20px;
	}
	&__box{
		@include flex-between;
		margin-top: 115px;
	}
}
.teacher{
	text-align: center;
	flex: 0 1 415px;
	&__name{
		@include heading;
		margin: 40px 0 15px 0;
	}
	&__profession{
		@include text;
		margin-bottom: 30px;
		opacity: 0.8;
	}
	&__biography{
		@include flex-center;
		max-width: 143px;
		height: 44px;
		border: 1px solid $bg-white;
		box-sizing: border-box;
		border-radius: 50px; 
		margin: 0 auto;
		position: relative;
		cursor: pointer;
		overflow: hidden;
		transition: all 0.7s ease 0s; 
		a{
			@include text;
		}
		&:hover{
			border: 1px solid transparent; 
			box-shadow: 0 0 60px 5px #451046;
			transition: all 0.7s ease 0s; 
		}
		&:after{
			background: $bg-grad1;
			content: "";
			position: absolute;
			z-index: -1;
			transition: all 0.7s ease 0s;
			border-radius: 50%;
			left: -50%;
			right: -50%;
			top: -150%;
			bottom: -150%;
			transform: scale(0, 0);
		}
		&:hover::after{
			transition: all 0.7s ease 0s;
			transform: scale(1, 1);
		}
	}
}