.footer{
	margin: 200px auto 30px;
	text-align: center;
	&__title{
		@include title;
	}
	&__text{
		max-width: 415px;
		@include text;
		opacity: 0.5;
		margin: 30px auto 60px;
	}
	&__form{
		max-width: 490px;
		margin: 0 auto;
		position: relative;
		border-radius: 50px;
		overflow: hidden; 
		input{
			width: 100%;
			height: 44px;
			@include small-text;
			background: #3f3f3f;
			padding: 0 0 0 30px;
			border: none; 
		}
		input::placeholder {
		  color: $primery-text-color;
		  font-size: 14px;
		}
	}
	&__btn{
		min-width: 160px;
		height: 44px;
		background: $bg-grad1;
		border-radius: 50px;
		border: none;
		@include text;
		@include flex-center;
		cursor: pointer;
		position: absolute;
		top: 0;
		right: 0;
	}
	&__socials{
		max-width: 290px;
		margin: 40px auto 50px;
		@include flex-between;
	}
	&__item{
		width: 50px;
		height: 50px;
		border-radius: 50px;
		background: $bg-grad2;
		@include flex-center;
		cursor: pointer;
		transition: all 0.7s ease 0s; 
		&:hover{
			box-shadow: 0 0 50px 10px #7C6AFA;
			transition: all 0.7s ease 0s; 
		}
	}
	&__copyright{
		@include text;
		opacity: 0.8;
	}
}