body {
	background: url(img/bg.jpg);
	overflow-x: hidden;
	img{
		max-width: 100%;
	}
	input:focus{
		outline: none;
	}
	a{
		text-decoration: none;
	}
}
.container{
	max-width: 1330px;
	position: relative;
	margin: 0 auto;
	padding: 0 15px;
}
@mixin title {
	font: {
		family: $primery-font;
		size: 48px;
		weight: 700;
		style: normal;
	}
	line-height: 140%;
	color: $primery-text-color;
}
@mixin heading {
	font: {
		family: $primery-font;
		size: 24px;
		weight: 500;
		style: normal;
	}
	line-height: 160%;
	color: $primery-text-color;
}
@mixin text {
	font: {
		family: $primery-font;
		size: 16px;
		weight: normal;
		style: normal;
	}
	line-height: 160%;
	color: $primery-text-color;
}
@mixin small-text {
	font: {
		family: $primery-font;
		size: 14px;
		weight: normal;
		style: normal;
	}
	line-height: 160%;
	color: $primery-text-color;
	opacity: 0.5;
}
@mixin flex-between {
	display: flex;
	justify-content: space-between;
}
@mixin flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}