.main-screen{
	height: 100vh;
	@include flex-between;
	flex-direction: column;
	background: url(img/main-screen.jpg) no-repeat;
	background-position: center;
   background-size: cover;
   &__title{
   	font-family: $primery-font;
   	font-style: normal;
   	font-weight: bold;
   	font-size: 64px;
   	line-height: 140%;
   	color: $primery-text-color;
   	margin-bottom: 50px;
   }
   &__row{
   	background: $bg-dark;
   }
   &__line{
   	height: 130px;
   	@include flex-between;
   	align-items: center;
   }
   &__btn{
   	min-width: 169px;
   	height: 44px;
   	border-radius: 50px;
   	background: $bg-grad1;
   	@include flex-center;
   	cursor: pointer;
      a{
         @include text;
      }
      &:hover{
         box-shadow: 0 0 50px 10px #451046;
         transition: all 0.7s ease 0s; 
      }
   }
   &__people{
   	flex: 0 1 250px;
   }
   &__item{
   	@include flex-between;
   	@include text;
   	padding: 5px 0;
   	p{
   		opacity: 0.4;
   	}
   }
   &__money{
   	flex: 0 1 715px;
   	.main-screen__item{
   		max-width: 280px;
   	}
   }
   &__strip{
      width: 100%;
      height: 6px;
      background: $bg-white;
      margin: 8px 0 5px 0;
      position: relative;
      &:before{
         position: absolute;
         content: "";
         left: 0;
         top: 0;
         height: 100%;
         display: block;
         width: 23vw;
         background: $bg-grad1;
      }
   }
   &__count{
      @include flex-between;
      @include text;
      padding: 5px 0;
      span{
         opacity: 0.4;
      }
   }
   &.fixed{
      .header{
         padding-top: 82px;
      }
      .header__wrapper{
         position: fixed;
         top: 0;
         left: 0;
         right: 0;
         margin: 0 auto;
         z-index: 3;
         padding: 38px 40px;
         background: $bg-dark;
         transition: all 0.7s ease 0s;  
      }
   }
}
.header{
   &__wrapper{
      height: 44px;
      max-width: 1840px;
      padding: 38px 40px 0;
      @include flex-between;
      align-items: center;
   }
   &__logo{
      z-index: 30;
      cursor: pointer;
   }
	&__nav{
		flex: 0 1 745px;
		@include flex-between;
	}
	&__link{
      @include text;
		text-align: center;
      position: relative;
      transition: all 0.7s ease 0s; 
      &:hover{
         color: #7C6AFA;
         transition: all 0.7s ease 0s; 
      }
      &:after{
         content: "";
         position: absolute;
         display: block;
         left: 0;
         width: 0;
         height: 2px;
         background: $bg-grad2;
         margin-top: 2px;
         transition: all 0.7s ease 0s; 
      }
      &:hover:after{
        width: 100%;
      }
	}
	&__btn{
		min-width: 183px;
		height: 44px;
		border-radius: 50px;
		background: $bg-grad2;
		@include flex-center;
		cursor: pointer;
      z-index: 30;
      transition: all 0.7s ease 0s; 
      a{
         @include text;
      }
      &:hover{
         box-shadow: 0 0 50px 10px #7C6AFA;
         transition: all 0.7s ease 0s; 
      }
	}
   &__burger{
      display: none;
      height: 18px;
      width: 20px;
      position: relative;
      cursor: pointer;
      z-index: 30;
      span{
         content: " ";
         background: $bg-grad2;
         position: absolute;
         width: 100%;
         height: 2px;
         top: 8px;
         transition: all 0.7s ease 0s; 
      }
      &:before,
      &:after{
         content: " ";
         background: $bg-grad2;
         position: absolute;
         width: 100%;
         height: 2px;
         border-radius: 5px;
         transition: all 0.7s ease 0s; 
      }
      &:before{
         top: 0;
      }
      &:after{
         bottom: 0;
      }
      &.active {
         span{
            transform: scale(0);
         }
      }
      &.active:before{
         transform: rotate(45deg);
         top: 8px;
      }
      &.active:after{
         transform: rotate(-45deg);
         bottom: 8px;
      }
   }
   &__burger-menu{
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      width: 95vw;
      height: 100vh;
      background: $bg-dark;
      z-index: 10;
      padding: 20px;
      transform-origin: top right;
      transform: scale(0);
      transition: all 0.6s ease 0s;
      &.active{
         transform: scale(1);
         transition: all 0.6s ease 0s;
      }
      .header__nav{
         display: block;
         margin-top: 100px;
         text-align: center;
         .header__link{
            display: inline-block;
            margin: 5px 0; 
         }
      }   
   }
}
.timer{
	max-width: 538px;
	@include flex-between;
	&__item{
		width: 112px;
		height: 112px;
		background: $bg-dark;
		@include flex-center;
      flex-direction: column;
      span{
         font-family: $primery-font;
         font-size: 36px;
         font-weight: 700;
         line-height: 140%;
         color: $primery-text-color; 
      }
	}
   &__text{
      @include text;
      opacity: 0.4;
   }
   &__stop{
      @include heading;
      display: none;
   }
   &.active{
         .timer__item{
            display: none;
         }
         .timer__stop{
            display: block;
         }
      }
}
