@media (max-width: 1200px) {
	.header__nav{
		flex: 0 1 600px;
	}
	.main-screen__title{
		font-size: 48px;
		line-height: 120%;
		margin-bottom: 40px;
	}
	.main-screen__people {
	   flex: 0 1 220px;
	}
	.main-screen__money {
	   flex: 0 1 500px;
	}
	.about, .advantages, .program{
		margin: 150px 0; 
	}
	.about__picture{
		flex: 0 0 425px;
   	height: 400px;
	}
	.about__picture img{
		top: 45px;
		left: 10px;
	   right: 10px;
	}
	.about__title, .start__title, .advantages__title, .partners__title, .program__title, .teachers__title, .footer__title{
		font-size: 38px;
	}
	.start__title-box{
		max-width: 400px;
	}
	.start__title-box svg, .partners__title-box svg, .program__title-box svg, .teachers__title-box svg{
		width: 76px;
		height: 76px;
	}
	.advantages__item{
		flex: 0 1 300px;
	}
	.advantages__heading{
		font-size: 22px;
		margin: 40px auto 20px; 
	}
	.partners__title-box{
	   max-width: 650px;
	   margin-bottom: 50px;
	}
	.teachers__title-box{
	   max-width: 530px;
	}
	.teachers__box{
		margin-top: 80px;
	}
	.footer{
	   margin: 150px auto 30px;
	}
}
@media (max-width: 992px) {
	.header__nav{
		display: none;
	}
	.header__burger{
		display: block;
	}
	.header__btn, .main-screen__btn, .teacher__biography {
		min-width: 130px;
		height: 30px;
	}
	.header__wrapper, .main-screen.fixed .header__wrapper{
		padding: 20px 20px;
	}
	.main-screen__title{
		font-size: 38px;
		margin-bottom: 30px;
	}
	.timer{
		max-width: 438px;
	}
	.timer__item{
		width: 84px;
		height: 84px;
	}
	.header__btn a, .main-screen__btn a, .main-screen__item, .main-screen__count, .about__text, .start__text, .advantages__text, 
	.program__text, .teacher__profession, .teacher__biography a, .footer__text, .footer__copyright, .footer__btn {
		font-size: 14px;
		line-height: 140%;
	}
	.main-screen__money {
   	flex: 0 1 380px;
	}
	.main-screen__people {
	   flex: 0 1 190px;
	}
	.about, .advantages, .program{
		margin: 100px 0; 
	}
	.about__picture img{
		width: 325px;
		height: 325px;
	}
	.about__picture{
		flex: 0 0 325px;
		height: 300px;
	   border: 20px solid #7C6AFA;
	}
	.about__description{
		margin: 40px 0 0 30px;
	}
	.about__title, .start__title, .start__percent, .advantages__title, .partners__title, .program__title,
	.teachers__title, .footer__title {
	   font-size: 28px;
	}
	.about__title{
		margin-bottom: 30px;
	}
	.start__title-box svg, .partners__title-box svg, .program__title-box svg, .teachers__title-box svg {
		width: 66px;
		height: 66px;
	}
	.start__text{
		max-width: 380px;
	   margin: 30px 0 60px 0;
	}
	.start__title-box {
   	max-width: 310px;
	}
	.start__item{
		height: 320px;
	}
	.start__description{
		max-width: 170px;
	}
	.start__item:nth-child(1) .start__line{
		height: 60px;
	}
	.start__item:nth-child(2) .start__line{
		height: 40px;
	}
	.start__item:nth-child(3) .start__line{
		height: 20px;
	}
	.advantages__items{
		margin-top: 80px;
	}
	.advantages__heading{
		font-size: 17px;
		margin: 30px auto 20px; 
	}
	.advantages__icon img{
		width: 70px;
		height: 70px;
	}
	.advantages__item {
		padding: 15px 10px;
	}
	.partners__title-box{
		max-width: 500px;
		margin-bottom: 40px;
		align-items: center;
	}
	.partners__item{
		flex: 0 1 49.5%;
	}
	.partners__item{
		border-bottom: 1px solid #ffffff;
	}
	.partners__item:nth-child(2n+2){
		border-right: 1px solid transparent;
	}
	.partners__item:nth-child(7), .partners__item:nth-child(8){
		border-bottom: 1px solid transparent;
	}
	.program__title{
		margin: 40px 0; 
	}
	.program__weeks{
		max-width: 550px;
		margin: 60px auto 0;
	}
	.program__description{
		font-size: 16px;
	}
	.teachers__title-box{
	   max-width: 400px;
	   align-items: center;
	}
	.teachers__box{
		margin-top: 60px;
	}
	.teacher__name{
		font-size: 20px;
		margin: 20px 0 10px 0;
	}
	.footer{
	   margin: 100px auto 30px;
	}
}
@media (max-width: 767px) {
	.timer {
		max-width: 338px;
	}
	.timer__item{
		width: 56px;
		height: 56px;
	}
	.timer__item span{
		font-size: 28px;
		line-height: 110%;
	}
	.timer__text, .partners__description, .program__number{
		font-size: 12px;
		line-height: 140%;
	}
	.main-screen__line{
		flex-wrap: wrap;
	}
	.main-screen__item, .main-screen__count{
		padding: 2px 0; 
	}
	.main-screen__strip{
		margin: 5px 0; 
	}
	.main-screen__money .main-screen__item {
	   max-width: 240px;
	}
	.main-screen__money {
   	flex: 0 1 100%;
	}
	.main-screen__strip:before{
		width: 40vw;
	}
	.about__picture img {
		width: 225px;
		height: 225px;
		top: 10px;
	   left: 0;
	}
	.about__picture {
		flex: 0 0 225px;
		height: 200px;
		border: 10px solid #7C6AFA;
	}
	.about__title {
		font-size: 24px;
		margin-bottom: 20px;
	}
	.about__description {
	   margin: 0 0 0 20px;
	}
	.about, .advantages, .program{
		margin: 70px 0; 
	}
	 .start__title, .start__percent, .advantages__title, .partners__title, .program__title, .teachers__title, .footer__title{
	 	font-size: 24px;
	 }
	 .start__title-box svg, .partners__title-box svg, .program__title-box svg, .teachers__title-box svg {
   	width: 46px;
   	height: 46px;
	}
	.start__title-box {
   	max-width: 250px;
	}
	.start__text {
   	max-width: 330px;
   	margin: 20px 0 40px 0;
	}
	.start__infographic{
	   flex-wrap: wrap-reverse;
	}
	.start__item{
		flex: 0 1 100%;
		height: 200px;
		justify-content: stretch;
		align-items: center;
		position: relative;
		padding-left: 100px;
	}
	.start__line{
		position: absolute;
		left: 50px;
		width: 200px;
		transform: rotate(90deg) translateX(70px);
	}
	.start__item:nth-child(2) .start__line{
		margin-top: 160px;
		transform: rotate(270deg) translateX(80px);
	}
	.start__item:nth-child(3) .start__line{
		transform: rotate(90deg) translateX(90px);
	}
	.start__item:nth-child(4) .start__line{
		margin-top: 195px;
		transform: rotate(270deg) translateX(100px);
	}
	.advantages__items{
		margin-top: 40px;
		flex-wrap: wrap;
		justify-content: center;
	}
	.advantages__heading {
		margin: 15px auto 10px;
	}
	.partners__title-box {
		max-width: 420px;
		margin-bottom: 20px;
	}
	.partners__picture img, .teacher__photo img{
		width: 150px;
	}
	.program__title {
	   margin: 20px 0;
	}
	.program__weeks{
		max-width: 500px;
		margin: 40px auto 0;
	}
	.program__description{
		font-size: 14px;
	}
	.teachers__title-box{
	   max-width: 330px;
	}
	.teachers__box{
		margin-top: 40px;
	}
	.teacher__name{
		font-size: 18px;
		margin: 20px 0 10px 0;
	}
	.teacher__profession{
		max-width: 150px;
	   margin: 0 auto 20px;
	}
	.footer{
	   margin: 70px auto 30px;
	}
	.footer__text, .footer__socials{
		margin: 20px auto 40px;
	}
}
@media (max-width: 576px) {
	.header__wrapper, .main-screen.fixed .header__wrapper{
		padding: 15px 15px;
	}
	.header__btn, .main-screen__btn, .teacher__biography {
	    min-width: 115px;
	}
	.header__btn a, .main-screen__btn a, .main-screen__item, .main-screen__count, .about__text, .start__text, .start__description,
	.program__text, .teacher__profession, .teacher__biography a, .footer__text, .footer__copyright {
		font-size: 12px;
	}
	.main-screen.fixed .header {
	    padding-top: 74px;
	}
	.main-screen__title {
		font-size: 22px;
		margin-bottom: 20px;
	}
	.timer {
	    max-width: 250px;
	}
	.main-screen__people {
   	flex: 0 1 165px;
	}
	.about{
		flex-wrap: wrap;
	}
	.about__description{
		margin: 0 0 20px 0;
	}
	.about__picture{
		margin: 0 auto; 
		order: 2;
	}
	.start__percent{
		font-size: 18px;
	}
	.start__item{
		height: 150px;
	}
	.start__line{
		width: 150px;
		left: -40px;
		transform: rotate(90deg) translateX(45px);
	}
	.start__item:nth-child(2) .start__line{
		margin-top: 110px;
		transform: rotate(270deg) translateX(55px);
	}
	.start__item:nth-child(3) .start__line{
		transform: rotate(90deg) translateX(65px);
	}
	.start__item:nth-child(4) .start__line{
		margin-top: 145px;
		transform: rotate(270deg) translateX(75px);
	}
	.advantages__heading {
   	font-size: 16px;
	}
	.partners__title-box svg{
		flex: 0 0 46px;
	}
	.partners__picture img{
		width: 120px;
	}
	.partners__description{
		width: 220px;
	}
	.partners__item{
		height: 120px;
		flex: 0 1 48%;
	}
	.partners__logos{
		justify-content: center;
	}
	.program__title {
	   margin: 10px 0;
	}
	.program__weeks{
		max-width: 310px;
		margin: 20px auto 0;
	}
	.program__week {
		max-width: 140px;
		margin: 10px 0 50px 0;
	}
	.program__weeks-box:nth-child(1){
		padding-right: 15px;
	}
	.program__weeks-box:nth-child(1) .program__week:after{
	   right: -15px;
	}
	.program__weeks-box:nth-child(2) {
	   margin-top: 70px;
	   padding-left: 15px;
	}
	.program__weeks-box:nth-child(2) .program__week:after{
	   left: -15px;
	}
	.program__description{
		font-size: 12px;
	}
	.program__number{
		font-size: 10px;
	}
	.program__week:after{
		top: 30px;
		width: 10px;
	}
	.teachers__box{
		margin-top: 20px;
		flex-wrap: wrap;
		justify-content: space-around;
	}
	.teacher{
		flex: 0 1 185px;
		margin-bottom: 30px;
	}
	.footer__text{
		margin: 20px auto 30px;
	}
	.footer__form input{
		height: 35px;
		padding: 0 0 0 20px;
	}
	.footer__btn{
		height: 35px;
		min-width: 110px;
	}
	.footer__item{
	   width: 40px;
		height: 40px;
	}
	.footer__socials{
		max-width: 200px;
		margin: 30px auto 20px;
	}
}