@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,700&display=swap');

$primery-font: 'Roboto', sans-serif;

$primery-text-color:  #ffffff;

$bg-dark: #121212;
$bg-white: #ffffff;
$bg-grad1: linear-gradient(94.78deg, #DF5950 11.19%, #451046 93.72%);
$bg-grad2: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);