/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,700&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  background: url(img/bg.jpg);
  overflow-x: hidden; }
  body img {
    max-width: 100%; }
  body input:focus {
    outline: none; }
  body a {
    text-decoration: none; }

.container {
  max-width: 1330px;
  position: relative;
  margin: 0 auto;
  padding: 0 15px; }

.main-screen {
  height: 100vh;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background: url(img/main-screen.jpg) no-repeat;
  background-position: center;
  background-size: cover; }
  .main-screen__title {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 140%;
    color: #ffffff;
    margin-bottom: 50px; }
  .main-screen__row {
    background: #121212; }
  .main-screen__line {
    height: 130px;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .main-screen__btn {
    min-width: 169px;
    height: 44px;
    border-radius: 50px;
    background: linear-gradient(94.78deg, #DF5950 11.19%, #451046 93.72%);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer; }
    .main-screen__btn a {
      font-family: "Roboto", sans-serif;
      font-size: 16px;
      font-weight: normal;
      font-style: normal;
      line-height: 160%;
      color: #ffffff; }
    .main-screen__btn:hover {
      box-shadow: 0 0 50px 10px #451046;
      transition: all 0.7s ease 0s; }
  .main-screen__people {
    flex: 0 1 250px; }
  .main-screen__item {
    display: flex;
    justify-content: space-between;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    line-height: 160%;
    color: #ffffff;
    padding: 5px 0; }
    .main-screen__item p {
      opacity: 0.4; }
  .main-screen__money {
    flex: 0 1 715px; }
    .main-screen__money .main-screen__item {
      max-width: 280px; }
  .main-screen__strip {
    width: 100%;
    height: 6px;
    background: #ffffff;
    margin: 8px 0 5px 0;
    position: relative; }
    .main-screen__strip:before {
      position: absolute;
      content: "";
      left: 0;
      top: 0;
      height: 100%;
      display: block;
      width: 23vw;
      background: linear-gradient(94.78deg, #DF5950 11.19%, #451046 93.72%); }
  .main-screen__count {
    display: flex;
    justify-content: space-between;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    line-height: 160%;
    color: #ffffff;
    padding: 5px 0; }
    .main-screen__count span {
      opacity: 0.4; }
  .main-screen.fixed .header {
    padding-top: 82px; }
  .main-screen.fixed .header__wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 3;
    padding: 38px 40px;
    background: #121212;
    transition: all 0.7s ease 0s; }

.header__wrapper {
  height: 44px;
  max-width: 1840px;
  padding: 38px 40px 0;
  display: flex;
  justify-content: space-between;
  align-items: center; }
.header__logo {
  z-index: 30;
  cursor: pointer; }
.header__nav {
  flex: 0 1 745px;
  display: flex;
  justify-content: space-between; }
.header__link {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  line-height: 160%;
  color: #ffffff;
  text-align: center;
  position: relative;
  transition: all 0.7s ease 0s; }
  .header__link:hover {
    color: #7C6AFA;
    transition: all 0.7s ease 0s; }
  .header__link:after {
    content: "";
    position: absolute;
    display: block;
    left: 0;
    width: 0;
    height: 2px;
    background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
    margin-top: 2px;
    transition: all 0.7s ease 0s; }
  .header__link:hover:after {
    width: 100%; }
.header__btn {
  min-width: 183px;
  height: 44px;
  border-radius: 50px;
  background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 30;
  transition: all 0.7s ease 0s; }
  .header__btn a {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    line-height: 160%;
    color: #ffffff; }
  .header__btn:hover {
    box-shadow: 0 0 50px 10px #7C6AFA;
    transition: all 0.7s ease 0s; }
.header__burger {
  display: none;
  height: 18px;
  width: 20px;
  position: relative;
  cursor: pointer;
  z-index: 30; }
  .header__burger span {
    content: " ";
    background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
    position: absolute;
    width: 100%;
    height: 2px;
    top: 8px;
    transition: all 0.7s ease 0s; }
  .header__burger:before, .header__burger:after {
    content: " ";
    background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 5px;
    transition: all 0.7s ease 0s; }
  .header__burger:before {
    top: 0; }
  .header__burger:after {
    bottom: 0; }
  .header__burger.active span {
    transform: scale(0); }
  .header__burger.active:before {
    transform: rotate(45deg);
    top: 8px; }
  .header__burger.active:after {
    transform: rotate(-45deg);
    bottom: 8px; }
.header__burger-menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 95vw;
  height: 100vh;
  background: #121212;
  z-index: 10;
  padding: 20px;
  transform-origin: top right;
  transform: scale(0);
  transition: all 0.6s ease 0s; }
  .header__burger-menu.active {
    transform: scale(1);
    transition: all 0.6s ease 0s; }
  .header__burger-menu .header__nav {
    display: block;
    margin-top: 100px;
    text-align: center; }
    .header__burger-menu .header__nav .header__link {
      display: inline-block;
      margin: 5px 0; }

.timer {
  max-width: 538px;
  display: flex;
  justify-content: space-between; }
  .timer__item {
    width: 112px;
    height: 112px;
    background: #121212;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    .timer__item span {
      font-family: "Roboto", sans-serif;
      font-size: 36px;
      font-weight: 700;
      line-height: 140%;
      color: #ffffff; }
  .timer__text {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    line-height: 160%;
    color: #ffffff;
    opacity: 0.4; }
  .timer__stop {
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    font-weight: 500;
    font-style: normal;
    line-height: 160%;
    color: #ffffff;
    display: none; }
  .timer.active .timer__item {
    display: none; }
  .timer.active .timer__stop {
    display: block; }

.about {
  display: flex;
  justify-content: space-between;
  margin: 200px 0; }
  .about__picture {
    flex: 0 0 525px;
    height: 500px;
    position: relative;
    border: 30px solid #7C6AFA;
    border-image: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
    border-image-slice: 1; }
    .about__picture img {
      position: absolute;
      top: 125px;
      left: 40px;
      right: 40px; }
  .about__description {
    flex: 0 1 630px;
    margin: 70px 0 0 40px; }
  .about__title {
    font-family: "Roboto", sans-serif;
    font-size: 48px;
    font-weight: 700;
    font-style: normal;
    line-height: 140%;
    color: #ffffff;
    margin-bottom: 45px; }
  .about__text {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    line-height: 160%;
    color: #ffffff; }

.start__title-box {
  max-width: 495px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end; }
.start__title {
  font-family: "Roboto", sans-serif;
  font-size: 48px;
  font-weight: 700;
  font-style: normal;
  line-height: 140%;
  color: #ffffff;
  margin-left: 20px; }
.start__text {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  line-height: 160%;
  color: #ffffff;
  max-width: 410px;
  opacity: 0.5;
  margin: 50px 0 80px 0; }
.start__infographic {
  display: flex; }
.start__item {
  flex: 1 1 324px;
  height: 274px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
.start__line {
  width: 100%;
  background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%); }
.start__item:nth-child(1) .start__line {
  height: 80px; }
.start__item:nth-child(2) .start__line {
  height: 60px;
  transform: rotate(180deg); }
.start__item:nth-child(3) .start__line {
  height: 30px; }
.start__item:nth-child(4) .start__line {
  height: 10px;
  transform: rotate(180deg); }
.start__percent {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 140%;
  color: #ffffff; }
.start__description {
  max-width: 305px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  line-height: 160%;
  color: #ffffff;
  opacity: 0.5; }

.advantages {
  margin: 200px 0 230px 0; }
  .advantages__title {
    font-family: "Roboto", sans-serif;
    font-size: 48px;
    font-weight: 700;
    font-style: normal;
    line-height: 140%;
    color: #ffffff;
    text-align: center; }
  .advantages__items {
    display: flex;
    justify-content: space-between;
    margin-top: 120px; }
  .advantages__item {
    text-align: center;
    flex: 0 1 358px; }
  .advantages__heading {
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    font-weight: 500;
    font-style: normal;
    line-height: 160%;
    color: #ffffff;
    margin: 60px auto 30px; }
  .advantages__text {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    line-height: 160%;
    color: #ffffff;
    opacity: 0.8; }

.partners__title-box {
  max-width: 830px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 60px; }
  .partners__title-box svg {
    transform: rotate(180deg); }
.partners__title {
  font-family: "Roboto", sans-serif;
  font-size: 48px;
  font-weight: 700;
  font-style: normal;
  line-height: 140%;
  color: #ffffff;
  margin-left: 20px; }
.partners__logos {
  display: flex;
  flex-wrap: wrap; }
.partners__item {
  flex: 0 1 24.5%;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid #ffffff;
  cursor: pointer;
  position: relative;
  transition: all 0.7s ease 0s; }
  .partners__item:hover .partners__description {
    opacity: 1;
    transform: translateY(0) rotateX(0);
    transition: all 0.7s ease 0s; }
  .partners__item:hover .partners__picture {
    opacity: 0;
    transform: translateY(50%) rotateX(90deg);
    transition: all 0.7s ease 0s; }
.partners__picture {
  opacity: 1;
  transform: translateY(0) rotateX(0);
  transition: all 0.7s ease 0s; }
.partners__item:nth-child(4), .partners__item:nth-child(8) {
  border-right: 1px solid transparent; }
.partners__item:nth-child(-n+4) {
  border-bottom: 1px solid #ffffff; }
.partners__description {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  line-height: 160%;
  color: #ffffff;
  opacity: 0.5;
  width: 250px;
  height: 93px;
  position: absolute;
  top: 0px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  text-align: center;
  opacity: 0;
  transform: translateY(-50%) rotateX(90deg);
  transition: all 0.6s ease 0s; }
  .partners__description a {
    color: #ffffff;
    text-decoration: underline; }

.program {
  margin: 240px auto 215px; }
  .program__title-box {
    text-align: center; }
    .program__title-box svg {
      transform: rotate(135deg); }
  .program__title {
    font-family: "Roboto", sans-serif;
    font-size: 48px;
    font-weight: 700;
    font-style: normal;
    line-height: 140%;
    color: #ffffff;
    margin: 75px auto 30px; }
  .program__text {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    line-height: 160%;
    color: #ffffff;
    max-width: 410px;
    margin: 0 auto;
    opacity: 0.5; }
  .program__weeks {
    max-width: 600px;
    margin: 80px auto 0;
    position: relative;
    display: flex;
    justify-content: space-between; }
  .program__weeks-box:nth-child(1) {
    text-align: right;
    border-right: 6px solid  #7C6AFA;
    border-image: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
    border-image-slice: 1;
    padding-right: 75px; }
    .program__weeks-box:nth-child(1) .program__week:last-child {
      margin-bottom: 10px; }
    .program__weeks-box:nth-child(1) .program__week:after {
      right: -75px;
      left: auto; }
  .program__weeks-box:nth-child(2) {
    margin-top: 85px; }
    .program__weeks-box:nth-child(2) .program__week:last-child {
      margin-bottom: 0; }
  .program__week {
    max-width: 228px;
    position: relative;
    margin: 10px 0 95px 0; }
    .program__week:after {
      content: "";
      position: absolute;
      width: 40px;
      height: 1px;
      background: #ffffff;
      opacity: 0.3;
      top: 45px;
      left: -75px; }
  .program__number {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    line-height: 160%;
    color: #ffffff;
    opacity: 0.5;
    margin-bottom: 15px; }
  .program__description {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    line-height: 160%;
    color: #ffffff; }

.teachers__title-box {
  max-width: 630px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end; }
  .teachers__title-box svg {
    transform: rotate(-45deg); }
.teachers__title {
  font-family: "Roboto", sans-serif;
  font-size: 48px;
  font-weight: 700;
  font-style: normal;
  line-height: 140%;
  color: #ffffff;
  margin-left: 20px; }
.teachers__box {
  display: flex;
  justify-content: space-between;
  margin-top: 115px; }

.teacher {
  text-align: center;
  flex: 0 1 415px; }
  .teacher__name {
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    font-weight: 500;
    font-style: normal;
    line-height: 160%;
    color: #ffffff;
    margin: 40px 0 15px 0; }
  .teacher__profession {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    line-height: 160%;
    color: #ffffff;
    margin-bottom: 30px;
    opacity: 0.8; }
  .teacher__biography {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 143px;
    height: 44px;
    border: 1px solid #ffffff;
    box-sizing: border-box;
    border-radius: 50px;
    margin: 0 auto;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.7s ease 0s; }
    .teacher__biography a {
      font-family: "Roboto", sans-serif;
      font-size: 16px;
      font-weight: normal;
      font-style: normal;
      line-height: 160%;
      color: #ffffff; }
    .teacher__biography:hover {
      border: 1px solid transparent;
      box-shadow: 0 0 60px 5px #451046;
      transition: all 0.7s ease 0s; }
    .teacher__biography:after {
      background: linear-gradient(94.78deg, #DF5950 11.19%, #451046 93.72%);
      content: "";
      position: absolute;
      z-index: -1;
      transition: all 0.7s ease 0s;
      border-radius: 50%;
      left: -50%;
      right: -50%;
      top: -150%;
      bottom: -150%;
      transform: scale(0, 0); }
    .teacher__biography:hover::after {
      transition: all 0.7s ease 0s;
      transform: scale(1, 1); }

.footer {
  margin: 200px auto 30px;
  text-align: center; }
  .footer__title {
    font-family: "Roboto", sans-serif;
    font-size: 48px;
    font-weight: 700;
    font-style: normal;
    line-height: 140%;
    color: #ffffff; }
  .footer__text {
    max-width: 415px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    line-height: 160%;
    color: #ffffff;
    opacity: 0.5;
    margin: 30px auto 60px; }
  .footer__form {
    max-width: 490px;
    margin: 0 auto;
    position: relative;
    border-radius: 50px;
    overflow: hidden; }
    .footer__form input {
      width: 100%;
      height: 44px;
      font-family: "Roboto", sans-serif;
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      line-height: 160%;
      color: #ffffff;
      opacity: 0.5;
      background: #3f3f3f;
      padding: 0 0 0 30px;
      border: none; }
    .footer__form input::placeholder {
      color: #ffffff;
      font-size: 14px; }
  .footer__btn {
    min-width: 160px;
    height: 44px;
    background: linear-gradient(94.78deg, #DF5950 11.19%, #451046 93.72%);
    border-radius: 50px;
    border: none;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    line-height: 160%;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0; }
  .footer__socials {
    max-width: 290px;
    margin: 40px auto 50px;
    display: flex;
    justify-content: space-between; }
  .footer__item {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.7s ease 0s; }
    .footer__item:hover {
      box-shadow: 0 0 50px 10px #7C6AFA;
      transition: all 0.7s ease 0s; }
  .footer__copyright {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    line-height: 160%;
    color: #ffffff;
    opacity: 0.8; }

@media (max-width: 1200px) {
  .header__nav {
    flex: 0 1 600px; }

  .main-screen__title {
    font-size: 48px;
    line-height: 120%;
    margin-bottom: 40px; }

  .main-screen__people {
    flex: 0 1 220px; }

  .main-screen__money {
    flex: 0 1 500px; }

  .about, .advantages, .program {
    margin: 150px 0; }

  .about__picture {
    flex: 0 0 425px;
    height: 400px; }

  .about__picture img {
    top: 45px;
    left: 10px;
    right: 10px; }

  .about__title, .start__title, .advantages__title, .partners__title, .program__title, .teachers__title, .footer__title {
    font-size: 38px; }

  .start__title-box {
    max-width: 400px; }

  .start__title-box svg, .partners__title-box svg, .program__title-box svg, .teachers__title-box svg {
    width: 76px;
    height: 76px; }

  .advantages__item {
    flex: 0 1 300px; }

  .advantages__heading {
    font-size: 22px;
    margin: 40px auto 20px; }

  .partners__title-box {
    max-width: 650px;
    margin-bottom: 50px; }

  .teachers__title-box {
    max-width: 530px; }

  .teachers__box {
    margin-top: 80px; }

  .footer {
    margin: 150px auto 30px; } }
@media (max-width: 992px) {
  .header__nav {
    display: none; }

  .header__burger {
    display: block; }

  .header__btn, .main-screen__btn, .teacher__biography {
    min-width: 130px;
    height: 30px; }

  .header__wrapper, .main-screen.fixed .header__wrapper {
    padding: 20px 20px; }

  .main-screen__title {
    font-size: 38px;
    margin-bottom: 30px; }

  .timer {
    max-width: 438px; }

  .timer__item {
    width: 84px;
    height: 84px; }

  .header__btn a, .main-screen__btn a, .main-screen__item, .main-screen__count, .about__text, .start__text, .advantages__text,
  .program__text, .teacher__profession, .teacher__biography a, .footer__text, .footer__copyright, .footer__btn {
    font-size: 14px;
    line-height: 140%; }

  .main-screen__money {
    flex: 0 1 380px; }

  .main-screen__people {
    flex: 0 1 190px; }

  .about, .advantages, .program {
    margin: 100px 0; }

  .about__picture img {
    width: 325px;
    height: 325px; }

  .about__picture {
    flex: 0 0 325px;
    height: 300px;
    border: 20px solid #7C6AFA; }

  .about__description {
    margin: 40px 0 0 30px; }

  .about__title, .start__title, .start__percent, .advantages__title, .partners__title, .program__title,
  .teachers__title, .footer__title {
    font-size: 28px; }

  .about__title {
    margin-bottom: 30px; }

  .start__title-box svg, .partners__title-box svg, .program__title-box svg, .teachers__title-box svg {
    width: 66px;
    height: 66px; }

  .start__text {
    max-width: 380px;
    margin: 30px 0 60px 0; }

  .start__title-box {
    max-width: 310px; }

  .start__item {
    height: 320px; }

  .start__description {
    max-width: 170px; }

  .start__item:nth-child(1) .start__line {
    height: 60px; }

  .start__item:nth-child(2) .start__line {
    height: 40px; }

  .start__item:nth-child(3) .start__line {
    height: 20px; }

  .advantages__items {
    margin-top: 80px; }

  .advantages__heading {
    font-size: 17px;
    margin: 30px auto 20px; }

  .advantages__icon img {
    width: 70px;
    height: 70px; }

  .advantages__item {
    padding: 15px 10px; }

  .partners__title-box {
    max-width: 500px;
    margin-bottom: 40px;
    align-items: center; }

  .partners__item {
    flex: 0 1 49.5%; }

  .partners__item {
    border-bottom: 1px solid #ffffff; }

  .partners__item:nth-child(2n+2) {
    border-right: 1px solid transparent; }

  .partners__item:nth-child(7), .partners__item:nth-child(8) {
    border-bottom: 1px solid transparent; }

  .program__title {
    margin: 40px 0; }

  .program__weeks {
    max-width: 550px;
    margin: 60px auto 0; }

  .program__description {
    font-size: 16px; }

  .teachers__title-box {
    max-width: 400px;
    align-items: center; }

  .teachers__box {
    margin-top: 60px; }

  .teacher__name {
    font-size: 20px;
    margin: 20px 0 10px 0; }

  .footer {
    margin: 100px auto 30px; } }
@media (max-width: 767px) {
  .timer {
    max-width: 338px; }

  .timer__item {
    width: 56px;
    height: 56px; }

  .timer__item span {
    font-size: 28px;
    line-height: 110%; }

  .timer__text, .partners__description, .program__number {
    font-size: 12px;
    line-height: 140%; }

  .main-screen__line {
    flex-wrap: wrap; }

  .main-screen__item, .main-screen__count {
    padding: 2px 0; }

  .main-screen__strip {
    margin: 5px 0; }

  .main-screen__money .main-screen__item {
    max-width: 240px; }

  .main-screen__money {
    flex: 0 1 100%; }

  .main-screen__strip:before {
    width: 40vw; }

  .about__picture img {
    width: 225px;
    height: 225px;
    top: 10px;
    left: 0; }

  .about__picture {
    flex: 0 0 225px;
    height: 200px;
    border: 10px solid #7C6AFA; }

  .about__title {
    font-size: 24px;
    margin-bottom: 20px; }

  .about__description {
    margin: 0 0 0 20px; }

  .about, .advantages, .program {
    margin: 70px 0; }

  .start__title, .start__percent, .advantages__title, .partners__title, .program__title, .teachers__title, .footer__title {
    font-size: 24px; }

  .start__title-box svg, .partners__title-box svg, .program__title-box svg, .teachers__title-box svg {
    width: 46px;
    height: 46px; }

  .start__title-box {
    max-width: 250px; }

  .start__text {
    max-width: 330px;
    margin: 20px 0 40px 0; }

  .start__infographic {
    flex-wrap: wrap-reverse; }

  .start__item {
    flex: 0 1 100%;
    height: 200px;
    justify-content: stretch;
    align-items: center;
    position: relative;
    padding-left: 100px; }

  .start__line {
    position: absolute;
    left: 50px;
    width: 200px;
    transform: rotate(90deg) translateX(70px); }

  .start__item:nth-child(2) .start__line {
    margin-top: 160px;
    transform: rotate(270deg) translateX(80px); }

  .start__item:nth-child(3) .start__line {
    transform: rotate(90deg) translateX(90px); }

  .start__item:nth-child(4) .start__line {
    margin-top: 195px;
    transform: rotate(270deg) translateX(100px); }

  .advantages__items {
    margin-top: 40px;
    flex-wrap: wrap;
    justify-content: center; }

  .advantages__heading {
    margin: 15px auto 10px; }

  .partners__title-box {
    max-width: 420px;
    margin-bottom: 20px; }

  .partners__picture img, .teacher__photo img {
    width: 150px; }

  .program__title {
    margin: 20px 0; }

  .program__weeks {
    max-width: 500px;
    margin: 40px auto 0; }

  .program__description {
    font-size: 14px; }

  .teachers__title-box {
    max-width: 330px; }

  .teachers__box {
    margin-top: 40px; }

  .teacher__name {
    font-size: 18px;
    margin: 20px 0 10px 0; }

  .teacher__profession {
    max-width: 150px;
    margin: 0 auto 20px; }

  .footer {
    margin: 70px auto 30px; }

  .footer__text, .footer__socials {
    margin: 20px auto 40px; } }
@media (max-width: 576px) {
  .header__wrapper, .main-screen.fixed .header__wrapper {
    padding: 15px 15px; }

  .header__btn, .main-screen__btn, .teacher__biography {
    min-width: 115px; }

  .header__btn a, .main-screen__btn a, .main-screen__item, .main-screen__count, .about__text, .start__text, .start__description,
  .program__text, .teacher__profession, .teacher__biography a, .footer__text, .footer__copyright {
    font-size: 12px; }

  .main-screen.fixed .header {
    padding-top: 74px; }

  .main-screen__title {
    font-size: 22px;
    margin-bottom: 20px; }

  .timer {
    max-width: 250px; }

  .main-screen__people {
    flex: 0 1 165px; }

  .about {
    flex-wrap: wrap; }

  .about__description {
    margin: 0 0 20px 0; }

  .about__picture {
    margin: 0 auto;
    order: 2; }

  .start__percent {
    font-size: 18px; }

  .start__item {
    height: 150px; }

  .start__line {
    width: 150px;
    left: -40px;
    transform: rotate(90deg) translateX(45px); }

  .start__item:nth-child(2) .start__line {
    margin-top: 110px;
    transform: rotate(270deg) translateX(55px); }

  .start__item:nth-child(3) .start__line {
    transform: rotate(90deg) translateX(65px); }

  .start__item:nth-child(4) .start__line {
    margin-top: 145px;
    transform: rotate(270deg) translateX(75px); }

  .advantages__heading {
    font-size: 16px; }

  .partners__title-box svg {
    flex: 0 0 46px; }

  .partners__picture img {
    width: 120px; }

  .partners__description {
    width: 220px; }

  .partners__item {
    height: 120px;
    flex: 0 1 48%; }

  .partners__logos {
    justify-content: center; }

  .program__title {
    margin: 10px 0; }

  .program__weeks {
    max-width: 310px;
    margin: 20px auto 0; }

  .program__week {
    max-width: 140px;
    margin: 10px 0 50px 0; }

  .program__weeks-box:nth-child(1) {
    padding-right: 15px; }

  .program__weeks-box:nth-child(1) .program__week:after {
    right: -15px; }

  .program__weeks-box:nth-child(2) {
    margin-top: 70px;
    padding-left: 15px; }

  .program__weeks-box:nth-child(2) .program__week:after {
    left: -15px; }

  .program__description {
    font-size: 12px; }

  .program__number {
    font-size: 10px; }

  .program__week:after {
    top: 30px;
    width: 10px; }

  .teachers__box {
    margin-top: 20px;
    flex-wrap: wrap;
    justify-content: space-around; }

  .teacher {
    flex: 0 1 185px;
    margin-bottom: 30px; }

  .footer__text {
    margin: 20px auto 30px; }

  .footer__form input {
    height: 35px;
    padding: 0 0 0 20px; }

  .footer__btn {
    height: 35px;
    min-width: 110px; }

  .footer__item {
    width: 40px;
    height: 40px; }

  .footer__socials {
    max-width: 200px;
    margin: 30px auto 20px; } }

/*# sourceMappingURL=style.css.map */
